{{!
You can use this template to render any errors on your site if you wish
}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main>
        <h1>An Error Occurred</h1>
        <p class="error-message">{{error}}</p>
        <a href="/">Return to Home</a>
    </main>
</body>
</html>
