{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works: https://github.com/stevens-cs546-cs554/CS-546/tree/master/lecture_08/code/HTML_Templating }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Finder</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <h1>Movie Finder For My Lord And Savior Patrick Hill</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <img src="/public/images/phill.png" alt="Corner Left" class="corner-image bottom-left">
    <img src="/public/images/phill.png" alt="Corner Right" class="corner-image bottom-right">
</body>
</html>
