/*This file should have 10 CSS rulesets */

body {
    font-family: 'Comic Sans MS', 'Comic Sans';
    color: rgb(0,0,0);
    margin: 0;
    padding: 0;
    background-color: #eeaa00;
}

header {
    background-color: #653819;
    color: #eeaa00;
    text-align: center;
    padding: 10px 0;
    outline: 1px solid black;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: #eeaa00;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: 1px solid black;
}

a {
    color: #cc0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #0056b3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    color: #fff;
}

ol {
    list-style-type: none;
    padding: 0;
}

.searchResultImage {
    width: 75px;
    height: 117px;
}

.not-found {
    color: #cc0000;
}

.rTable {
    width: 100%;
    border-collapse: collapse;
}

.rTable th, .rTable td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #653819;
}

.rTable th {
    background-color: #eeaa00;
}

.corner-image {
    position: fixed;
    width: 200px;
    height: auto;
    z-index: 1000;
}

.bottom-left {
    left: 0;
    bottom: 0;
}

.bottom-right {
    right: 0;
    bottom: 0;
}
